<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="vendors\css\bootstrap.min.css" />
    <link href="vendors/fontawesome-free-5.8.1-web/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="vendors\custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="vendors/js/bootstrap.min.js"></script>
    <script src="vendors/fontawesome-free-5.8.1-web/js/all.min.js"></script>
    <script src="vendors/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>
<body ng-app="myApp">
    <div class="container-fluid">
        <div class="row">
            <!--top nav-->
            <nav class="top-nav">
                <span class="toggle-menu">
                    <i class="fa fa-bars"></i>
                    <i class="fa fa-caret-right"></i>
                </span>
                <a class="brand" href="Index.html"><i class="fab fa-opencart"></i> Inventory System</a>
                <ul>
                    <li>
                        <a href="#" id="lgout">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--side nav-->
        <div id="side-menu-container">
            <ul class="side-menu">
                <li>
                    <a href="Index.html"> <i class="fa fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li>
                    <a href="Customers.html"> <i class="fa fa-user-alt"></i> Customers</a>
                </li>
                <li>
                    <a href="Products.html"> <i class="fa fa-archive"></i> Products</a>
                </li>
                <li>
                    <a href="Orders.html"> <i class="fa fa-clipboard-list"></i> Orders</a>
                </li>
                <li class="side-active">
                    <a href="Employees.html"> <i class="fa fa-user-tie"></i> Employees</a>
                </li>
            </ul>
        </div>
        <!--main content-->
        <div class="container-fluid main-content" ng-controller="mainController">
            <div class="row mt-2">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" ng-model="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact No</label>
                        <input type="number" id="contact" ng-model="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea ng-model="address" class="form-control" maxlength="200" id="address" ></textarea>
                    </div>
                    <button class="btn btn-light" id="add" ng-click="addCustomer()"> <i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
        <!--main content end-->
    </div>
    <script>
            $(".toggle-menu").click(function (){
                $("#side-menu-container").toggleClass("toggle");
                $(".main-content").toggleClass("toggle-main");
                $(".toggle-menu").toggleClass("toggled-btn");
            });
            //onload
            $(document).ready(function () {
                if (sessionStorage.getItem('lgn') == null) {
                    location.href = 'Login.html';
                }
            });
            //load to image previewer end
            $("#lgout").click(function () {
                sessionStorage.removeItem('lgn');
                location.reload();
            });
            //angular script
            var app = angular.module('myApp', []);
            app.controller('mainController', function ($scope, $http) {
                $scope.addCustomer = function () {
                    var customer = {
                        "Name":$scope.name,
                        "Email":$scope.contact,
                        "Address":$scope.joindate
                    };
                    console.log(customer);
                    debugger;
                    var onSuccess = function (data, status, headers, config) {
                        swal({
                            text: "Customer added",
                            icon: "success",
                            buttons: { ok: true }
                        });
                    };
                    var onError = function (data, status, headers, config) {
                        console.log("Error in adding Customer : " + status);
                        swal({
                            text: "Customer not added",
                            icon: "warning",
                            buttons: { ok: true }
                        });
                    };
                    var promise = $http.post('/api/Customers', customer);
                    debugger;
                    promise.success(onSuccess);
                    promise.error(onError);
                }
            });
    </script>
</body>
</html>