<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="vendors\css\bootstrap.min.css" />
    <link href="vendors/fontawesome-free-5.8.1-web/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="vendors\custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="vendors/js/bootstrap.min.js"></script>
    <script src="vendors/fontawesome-free-5.8.1-web/js/all.min.js"></script>
    <script src="vendors/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <title>Products</title>
</head>
    <body ng-app="myApp">
        <div class="container-fluid">
            <div class="row">
                <!--top nav-->
                <nav class="top-nav">
                        <span class="toggle-menu">
                                <i class="fa fa-bars"></i>
                                <i class="fa fa-caret-right"></i>
                        </span>
                    <a class="brand" href="Index.html"><i class="fab fa-opencart"></i> Inventory System</a>
                    <ul>
                        <li>
                            <a href="#" id="lgout">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--side nav-->
            <div id="side-menu-container">
                <ul class="side-menu">
                    <li>
                        <a href="Index.html"> <i class="fa fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="Customers.html"> <i class="fa fa-user-alt"></i> Customers</a>
                    </li>
                    <li class="side-active">
                        <a href="#"> <i class="fa fa-archive"></i> Products</a>
                    </li>
                    <li>
                        <a href="Orders.html"> <i class="fa fa-clipboard-list"></i> Orders</a>
                    </li>
                    <li>
                        <a href="Employees.html"> <i class="fa fa-user-tie"></i> Employees</a>
                    </li>
                </ul>
            </div>
            <!--main content-->
            <div class="container-fluid main-content" ng-controller="mainController">
                <div class="row mt-5">
                   <a class="btn btn-light ml-auto" href="AddProduct.html"> <i class="fa fa-plus"></i> Add Product</a>
                   <table class="table table-striped table-hover mt-2">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Exp. Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in result">
                                <td> <img src="{{row.ImagePath}}" alt="product avatar" style="height: 40px; width:40px;"/> </td>
                                <td>{{row.Name}}</td>
                                <td>{{row.ManufName}}</td>
                                <td>{{row.ExpDate}}</td>
                                <td> <a href="#" ng-click="deleteProd(row.Id)">delete</a> </td>
                            </tr>
                        </tbody>
                   </table>
                </div>
            </div>
            <!--main content end-->
        </div>
        <script>
            $(".toggle-menu").click(function (){
                $("#side-menu-container").toggleClass("toggle");
                $(".main-content").toggleClass("toggle-main");
                $(".toggle-menu").toggleClass("toggled-btn");
            });
            //onload
            $(document).ready(function () {
                if (sessionStorage.getItem('lgn') == null) {
                    location.href = 'Login.html';
                }
            });
            //logout
            $("#lgout").click(function () {
                sessionStorage.removeItem('lgn');
                location.reload();
            });
            //angular script
            var app = angular.module('myApp', []);
            app.controller('mainController', function ($scope, $http) {
                //getting product
                var onsuccess = function (data, header, status, config)
                {
                    $scope.result = data;
                }
                var onerror = function (data, header, status, config)
                {
                    swal("error in getting products!, status code : "+status);
                }
                var promise = $http.get('/api/Products');
                promise.success(onsuccess);
                promise.error(onerror);
                //deleteproduct
                $scope.deleteProd = function (id) {
                    var onsuccess = function (data, header, status, config) {
                        swal({
                            text: "Delete successfully",
                            icon: "success",
                            buttons: {
                                ok: true
                            }
                        });
                    }
                    var onerror = function (data, header, status, config) {
                        swal({
                            text: "Deleting product failed",
                            icon: "warning",
                            buttons: {
                                ok:true
                            }
                        });
                    }
                    var promise = $http.delete('/api/Products/' + id);
                    promise.success(onsuccess);
                    promise.error(onerror);
                } 
            });
        </script>
    </body>
</html>